node_modules
dist
lib
.idea/
tsconfig.tsbuildinfo
cucumber-tsflow-specs/reports/*

/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

# Swap the comments on the following lines if you wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#!/.yarn/cache
/.pnp.*
.DS_Store
