{
	"trailingComma": "none",
	"useTabs": true,
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"printWidth": 120,
	"arrowParens": "avoid",
	"vueIndentScriptAndStyle": true,
	"htmlWhitespaceSensitivity": "ignore",
	"endOfLine": "crlf"
}
